html, body {
    min-height: 100vh;
    margin: 0;
    background-color: rgb(110, 28, 28);
}

header {
    color: aliceblue;
    background-color: brown;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

figure{
    margin: 0%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    height: auto;
}

button {
    width: 2rem;
}